<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <section th:replace="fragments/header :: header-css"/>
</head>

<body id="page-top">
	<div id="wrapper"><!-- Page Wrapper -->
		<section th:replace="fragments/sidebar :: sidebar-css"/> <!-- Content sidebar -->
		
		
		<div id="content-wrapper" class="d-flex flex-column"> <!-- Content Wrapper -->
		
		 
		 <div id="content"><!-- Main Content -->
		        <section th:replace="fragments/navbar :: navbar-css"/>
		
		<section id="general-content" class="container-fluid"><!--Init content-->	
		
		        web content
		
		</section><!--end content-->		
		
		<section th:replace="fragments/foother :: foother-css"/><!-- Footer -->
		</div><!-- End of Content Wrapper -->
	</div> <!-- End of Page Wrapper -->
  
</body>

</html>
