<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body th:fragment="dataTable-entradas-fragment">

		<section class="card col-12   shadow-sm mb-4">
			<div class="card-header py-3 row">
				<a class="mt-2 text-primary col-9" >LISTADO DE COMPRAS / ENTRADAS</a>
			</div>
			<div class="card-body  mt-0">
				<section class="table-responsive ">
					<table class="table  thead-light text-center" id="dataTableSalidas"
						width="100%" cellspacing="0">
						<thead class="card-header">
							<tr>
								<th>Fecha de entrada</th>
								<th>Producto</th>
								<th>Precio de compra</th>
								<th>% de ganancia</th>
								<th>Proveedor</th>
								<th>Tipo de entrada</th>
								<th>Documento de entrada</th>
							</tr>
						</thead>
						<tfoot class="card-header">
							<tr>
								<th>Fecha de entrada</th>
								<th>Producto</th>
								<th>Precio de compra</th>
								<th>% de ganancia</th>
								<th>Proveedor</th>
								<th>Tipo de entrada</th>
								<th>Documento de entrada</th>
							</tr>
						</tfoot>
					</table>
				</section>

			</div>
	</section>

</body>

</html>